.highlight-box{
    background: rgba(255,255,255,0.08);
    padding: 18px;
    margin-top: 15px;
    border-left: 4px solid #00bcd4;
    border-radius: 10px;
    backdrop-filter: blur(6px);
    transition: 0.3s;
}

.highlight-box:hover{
    transform: translateY(-3px);
    background: rgba(255,255,255,0.12);
}

.highlight-box h2{
    color: #00e5ff;
    margin-bottom: 8px;
    font-size: 18px;
}

.highlight-box p{
    font-size: 14px;
    line-height: 1.7;
    color: #eaeaea;
}
